@use '../abstracts/_abstracts-dir' as *;

body {
   margin: 0;
   background-color: #333333;
   color: #ffffff;
   padding: 6rem 0;
   font-family: $main-font;
}

a {
   color: inherit;
   text-decoration: none;
 }
 
 * {
   box-sizing: border-box;
 }

.container {
   max-width: 80%;
   margin: auto;
}

h2 {
   font-size: 2rem;
}

p {
   font-size: 1rem;
}

h2 {
   border-bottom: solid 1px #ffffff;
   margin-bottom: 1.5rem;
   padding-bottom: 0.5rem;
}

@media only screen and (min-width: 1024px) {
   p {
      font-size: 1.125rem;
   }
}
