.cloud-wrap {
   width: 100%;
   height: 80vh;
   background-color: #abe;
   position: relative;
   margin-bottom: 5rem;
   overflow: hidden;
}

.css-cloud {
  position: relative;
  width: 320px;
  height: 100px;
  background: #ffffff;
  border-radius: 100px;
}

.cloud-img {
  width: 250px;
  height: 110px;
  display: inline-block;
  mask-size: cover !important;
  position: absolute;
  left: -500px;
  mask: url("/images/remembot-cloud-01.svg");
}

@keyframes moveCloud01-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud01-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud02-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud02-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud03-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud03-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud04-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud04-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud05-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud05-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud06-A {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}

@keyframes moveCloud06-B {
  0% {
    left: -500px;
  }
  100% {
    left: 110vw;
  }
}


// .move-box {
//    animation: movebox 1s forwards;
// }

// @keyframes movebox {
//    0% {
//       left: 0px;
//       top: 0px;
//     }
//     25% {
//       left: 300px;
//       top: 0px;
//     }
//     50% {
//       left: 300px;
//       top: 150px;
//     }
//     75% {
//       left: 0px;
//       top: 150px;
//     }
//   }
